body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: none;
  width: 300px;
  height: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 30px;
  margin: auto;    
}

.modal-active {
  display: block;
  /* flex-direction: column; */
}
